body {
    background-color: rgb(175, 228, 182);
  }

.navbar {
    background-color: #333;
    padding: 10px;
}
  
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
  
.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}